{% block content %}
    <div style="display: flex">
        {% if request.user.is_authenticated %}
            <span class="{% if not photo.is_liked %}d-none{% endif %} like-btn{{ photo.id }}" id="unlike"
                    value="{{ photo.id }}"
                    data-unlike-photo-id="{{ photo.id }}" style="background: transparent; border: none;"
                    url="{% url 'web_site:photo_like' photo.id %}"><i class="fa-solid fa-heart"></i></span>
            <span class="{% if photo.is_liked %}d-none{% endif %} unlike-btn{{ photo.id }}" id="like"
                    value="{{ photo.id }}"
                    data-like-photo-id="{{ photo.id }}" style="background: transparent; border: none;"
                    url="{% url 'web_site:photo_like' photo.id %}"><i class="fa-regular fa-heart"></i></span>

        {% endif %}
        <div class="like-counter{{ photo.id }}">{{ photo.likes_count }}</div>
    </div>
{% endblock %}