{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap5 %}
{% block content %}
        <div id="login" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{% translate "Login" %}</h4>
              </div>
              <div class="modal-body">
                  <form action="{% url 'web_site:login' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form login_form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">{% translate 'Login with email' %}</button>
                        <a class="btn btn-primary" href="{% url 'web_site:register' %}">{% translate 'Create an account' %}</a>
                    {% endbuttons %}
                  </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" value="Social login #1" > </button>
                <button class="btn btn-primary" value="Social login #2" > </button>
            </div>
          </div>
        </div>
{% endblock %}

<!--                   <form class="form" method="post" action="/login/">
                      {% csrf_token %}
                      {% bootstrap_form form layout='inline' %}
                      {% buttons %}
                        <button type="submit" class="btn btn-primary">{% translate 'Login with email' %}</button>
                        <a class="btn btn-primary" href="{% url 'web_site:registration' %}">{% translate 'Create an account' %}</a>
                      {% endbuttons %}
                   </form> !-->
