{% load i18n %}
{% load bootstrap5 %}
{% block content %}
        <div id="login" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-warning">
                <h4 class="modal-title">{% translate "Login" %}</h4>
              </div>
              <div class="modal-body">
                  <form action="{% url 'web_site:login' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form login_form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-warning">{% translate 'Login with email' %}</button>
                        <a class="btn btn-warning" href="{% url 'web_site:register' %}">{% translate 'Create an account' %}</a>
                    {% endbuttons %}
                  </form>
                  {% buttons %}
                  <a class="btn btn-warning" href="{% url 'social:begin' 'google-oauth2' %}">{% translate 'Login with Google'%}</a>
                  <a class="btn btn-warning" href="{% url 'social:begin' 'github' %}">{% translate 'Login with GitHub'%}</a>
                  {% endbuttons %}
                </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
{% endblock %}
