{% load i18n %}
{% load bootstrap5 %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    {% include 'navbar.html' %}
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar"
             style="max-width: 30%; height: 100%;">
            <ul class="nav nav-pills flex-column mb-auto">
                {% include 'user_details.html' %}
            </ul>
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm3 row-cols-md-3 g-3">
                    {% for photo in photo_list.all %}
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <div>
                                    <img class="rounded" src="{{photo.owner.avatar.url}}" width="50" height="50">
                                    {{ photo.owner.get_full_name }}
                                </div>
                                <div>
                                    {{ photo.name }}
                                </div>
                            </div>
                            <div class="card-body">
                                <img class="img-fluid" src="{{ photo.image_size_big.url }}" alt="image place">
                            </div>
                            <div class="card-footer">
                                Likes/Comments
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>