{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="photo card mb-3" id="photo" data-photo-id="{{ photo.id }}">
            <img class="card-img-top" alt="image" src="{{ photo.image.url }}">
            <div class="card-body">
                {% if request.user.id == photo.owner.id %}
                    <a class="btn btn-warning"
                       href="{% url 'web_site:photo_change' photo.id %}"><i class="fa-solid fa-file-pen"></i></a>
                    {% if photo.mark_as_deleted_at is None %}
                        <a class="btn btn-warning"
                           href="{% url 'web_site:photo_delete' photo.id %}"><i class="fa-solid fa-trash-can"></i></a>
                    {% else %}
                        <a class="btn btn-warning"
                           href="{% url 'web_site:photo_delete_cancel' photo.id %}"><i
                                class="fa-solid fa-trash-can-slash"></i></a>
                    {% endif %}
                {% endif %}
                <div class="card-title">
                    Author:
                    {{ photo.owner.get_full_name }}
                </div>
                <div>Title: {{ photo.name }}</div>
                <div class="card-body">Description: {{ photo.description }}</div>
                {% include 'likes.html' %}
                <i class="fa-solid fa-message"></i> {{ photo.comment_count }}
                <div class="list-group list-group-flush">
                    {% if user.is_authenticated %}
                        <form id="create-comment-form" data-photo-id="{{ photo.id }}"
                              name="comment">
                            <label for="create-comment-text-area">Leave comment</label>
                            <textarea name="comment-text" class="form-control" id="create-comment-text-area"
                                      type="comment"
                                      rows="3"></textarea>
                            <button type="submit" class="btn btn-warning">Submit</button>
                        </form>
                    {% endif %}
                    <div class="comments">
{#                        {% include 'comments.html' with comment_list=photo.comments.all %}#}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/ajax_likes.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax_comments.js' %}"></script>
{% endblock %}