#comment {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: black;
}

#comment .card-body .card-title{
}

#comment .card-body .card-text{
    text-align: left;
    padding: 15px;
}

#comment .comment-buttons {
    display: none;
}